<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@res) do |f| %>
      <div class="form-group">
        <label>返信内容</label>
        <%= f.text_area :text %>
      </div>
      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>