<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
    <%= link_to "Copinion", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "一覧",   '#' %></li>
            <li><%= link_to "生活",   '#' %></li>
            <li><%= link_to "学業", '#' %></li>
          </ul>
        </nav>
    </div>
</header>